
<html>
  <head><title>SportShop</title>
    
  </head>
  <body bgcolor='#CCFFFF'> 
         <table bgcolor='#99FF99' align="center" cellspacing='30' >
         
         <tr><td><h1  face='Arial' align='center' >Benvenuti su Sport Shop!</h1> <h3 face='Arial' align='center'>Lo shop di abbigliamento più completo che puoi trovare!</h3> </td></tr>
         <tr><td align='center' ><img src="..\Immagini\abbigliamento.jpg" alt='abbigliamento' height='150' width='450' align='center' /></td></tr>
         
         <tr><td><p face='Arial'> Ecco alcune delle funzionalità che mettiamo a tua disposizione:         
         </p>
         <ul face='Arial'>
           <li><a href="view_lista_articoli.php" >Determinare descrizione, taglia e prezzo di listino di tutti gli articoli di un colore dato in input</a></li>
           <li><a href="view_lista_vend_input_art.php" >Determinare l’elenco, ordinato per data, delle vendite (data vendita, colore, taglia, quantità e prezzo) effettuate di un articolo scelto in input nel 2020</a></li>
           <li><a href="view_vend_input_data_cat.php" >Determinare l’elenco delle vendite in un periodo dato in input di tutti gli articoli di una categoria per bambini data in input</a></li>   
         </ul>
         </td></tr>
       </table>           
  </body>
</html>                                       